name: Build APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtemSerebryakov/buildozer-action@v1
        with:
          buildozer_version: master
          python_version: 3.11
        env:
          # This forces the action to accept the licenses we've been struggling with
          EXPECT_ANDROID_SDK_LICENSE: "y"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
