name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            autoconf automake libtool pkg-config \
            build-essential git \
            libssl-dev zlib1g-dev \
            libffi-dev openjdk-17-jdk \
            zip unzip cmake
          pip install buildozer cython==0.29.37

      - name: Install Android SDK and Accept Licenses
        run: |
          yes | sdkmanager --licenses || true
          # Explicitly grabbing version 34 to avoid the RC1 license bug
          sdkmanager "platform-tools" "platforms;android-34" "build-tools;34.0.0"

      - name: Build APK with Buildozer
        run: |
          buildozer android debug

      - name: Upload APK
        uses: actions/checkout@v4
        with:
          name: package
          path: bin/*.apk
